#Titulo {
  display: flex;
  justify-content: center;
  color: black;
}

#Fondo {
  background-color: gray;

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
