.body {
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.425),
      rgba(41, 41, 1, 0.5)
    ),
    url("../../public/Images/juego.jpg");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Titulo {
  display: flex;
  justify-content: center;
  color: aliceblue;
}
/*width: 100%; */
