.body {
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.425),
      rgba(41, 41, 1, 0.5)
    ),
    url("../../public/Images/juego.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#Titulo {
  text-align: center;
  color: aliceblue;
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.425),
      rgba(41, 41, 1, 0.5)
    ),
    url("../../public/Images/juego.jpg");
}

/*width: 100%; */

/* Establecer el ancho de cada componente en porcentaje */
.Gcard > div {
  flex-basis: 29%; /* Aquí puedes ajustar el porcentaje según tus necesidades */
  padding: 5px; /* Agrega un poco de espaciado entre los componentes */
}
