.body {
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.425),
      rgba(41, 41, 1, 0.5)
    ),
    url("../../public/Images/juego.jpg");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Titulo {
  display: flex;
  justify-content: center;
  color: aliceblue;
}
/*width: 100%; */

.Gcard {
  display: flex;
  flex-wrap: wrap;
}

/* Establecer el ancho de cada componente en porcentaje */
.Gcard > div {
  flex-basis: 25%; /* Aquí puedes ajustar el porcentaje según tus necesidades */
  padding: 5px; /* Agrega un poco de espaciado entre los componentes */
}
