/* Media Query for Tablets, Ipads */
@media (min-width: 480px) and (max-width: 720px) {
  .adminbut {
    margin-left: 300px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .adminbut {
    margin-left: 700px;
  }
}

/* Media Query for Large screens */
@media (min-width: 1280px) {
  .adminbut {
    margin-left: 1200px;
  }
}
